{% extends "base.html" %}
{% load static %}

{% block page_title %}
All Posts
{% endblock %}

{% block page_style %}
    <link rel="stylesheet" href="{% static "blog/includes/post.css" %}">
    <link  rel="stylesheet" href="{% static "blog/all-posts.css"%}"/>
{% endblock %}

{% block page_content %} 
<section id="all-posts">
    <h3>My Collected Posts</h3>
        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>    
</section>
{% endblock %}